$color-background-1: oklch(90% 0.166 145);
$color-background-2: oklch(90% 0.6 211);

:root {
  --color-light-step: 0.06;
  --color-chroma-step: 0.035;
  --background-opacity: 30%;

  --color-white: oklch(100% 3.5 0);
  --color-black: oklch(0% 0 0);
  --color-red: oklch(62% 0.25 29);

  --color-text: var(--color-black);

  --color-gray-darker: oklch(60% 0 0);
  --color-gray-brighter: oklch(72% 0 17);

  --color-gradient-1: oklch(
    from $(color-background-1) l c h / var(--background-opacity)
  );
  --color-gradient-2: oklch(
    from $(color-background-2) l c h / var(--background-opacity)
  );

  --color-button-text: var(--color-white);
  --color-accent-primary-base: oklch(50% 0.2 300);
  --color-accent-secondary-base: oklch(
    from var(--color-accent-primary-base) calc(l + 0.05) c calc(h - 30)
  );
  --color-highlight: oklch(80% 0.25 70);

  @mixin button-colors primary, var(--color-accent-primary-base);
  @mixin button-colors secondary, var(--color-accent-secondary-base);

  --color-input-text: var(--color-black);
  --color-input-background: var(--color-white);
  --color-input-border: var(--color-gray-brighter);
  --color-input-border-error: var(--color-red);
  --color-input-border-focus: oklch(
    from var(--color-accent-primary-base) calc(l - 0.1) c h
  );

  --color-form-border: var(--color-gray-darker);

  @media (prefers-color-scheme: dark) {
    --color-text: var(--color-white);

    --color-gradient-1: oklch(
      from $(color-background-1) calc(l - 0.62) calc(c / 2) h
    );
    --color-gradient-2: oklch(
      from $(color-background-2) calc(l - 0.62) calc(c / 2) h
    );

    --color-input-text: var(--color-white);
    --color-input-background: var(--color-black);
    --color-input-border: oklch(
      from var(--color-gray-brighter) calc(l + 0.05) c h
    );
    --color-input-border-focus: var(--color-highlight);

    --color-form-border: oklch(
      from var(--color-gray-darker) calc(l + 0.05) c h
    );
  }
}
