@import url('./colors.css');
@import url('./custom-media.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text);

  font-synthesis: none;
  /* stylelint-disable-next-line value-keyword-case */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding-block: 16px;
}

button,
input[role='button'],
a {
  &:focus-visible {
    outline: 5px solid var(--color-highlight);
  }
}

svg {
  width: 24px;
  height: 24px;
}
