@import url('@styles/colors.css');

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background:
    linear-gradient(0deg, var(--color-gradient-1), var(--color-gradient-2) 100%);
}
