@import url('@styles/variables.css');

.wrapper {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background:
    linear-gradient(0deg,rgba(141,246,147,0.3), rgba(158,239,255,0.3) 100%);
}
