.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 100%;

  padding: 8px 16px;

  outline: none;
  border: 2px solid var(--color-input-border);
  border-radius: 4px;

  color: var(--color-input-text);
  background-color: var(--color-input-background);

  &--error {
    border-color: var(--color-input-border-error);
  }

  &:focus {
    border-color: var(--color-input-border-focus);
  }
}

.error-message {
  margin-left: 4px;
}
