.wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.input {
  width: 100%;

  padding: 8px 16px;

  outline: none;
  border: 2px solid #a7a5a5; 
  border-radius: 4px;

  &--error {
    border-color: red;
  }

  &:focus {
    border-color: blueviolet;
  }
}

.error-message {
  margin-left: 4px;
}
