.wrapper {
  padding-block: 16px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 32px;
  height: 32px;
}

.right-column {
  display: flex;
  align-items: center;
  gap: 16px;
}

.github-link {
  display: flex;

  border-radius: 50%;

  &--inverted svg {
    filter: invert(1);
  }
}
